*{
  box-sizing: border-box;
}

.layout{
  display: flex;
}
.sidebar{
  width: 250px;
  height: 100vh;

}
.main-content{
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
